.buttons {
    padding: 0.5rem 0;
    p {
        padding: 0.5rem 0;
        text-align: center;
    }
    a.button {
        @include neutral-link;
        background-color: $secondary;
        color: white;
        font-weight: bold;
        padding: 1rem;
        margin: 0.25rem;
        &:hover, &:active {
            @include opacity;
        }
    }
}
