html {
    font-size: $font-size-base;
    @include sm {
        font-size: 18px;
    }
}

body {
    font-family: $font-family-sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    @include background-pr;
    display: flex;
    flex-direction: column;
}

header {
    @include background-contrast;
}

nav, footer {
    @include background-sec;
}

main {
    flex: 1;
}

section {
    margin: 2rem auto;
    h1, h2, h3 {
        color: $primary-hl;
    }
    &.text {
        max-width: 45rem;
            em {
                font-style: italic;
            }
            a {
                @include hover-color;
                //font-weight: bold;
            }
        h1, h2, h3 {
            margin: 1rem 0;
        }
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

a {
    color: black;
    text-decoration: underline;
}

footer {
    p {
        text-align: center;
    }
    a {
        @include neutral-link;
        &:hover, &:active {
            @include opacity;
        }
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hide {
    display: none;
}
